@using StackOverflow.Platform.BusinessObjects
@model StackOverflow.Web.Models.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-10">
                <h1 class="m-0"> All Questions</h1>
            </div><!-- /.col -->
            <div class="col-2">
                <a type="button" class="btn btn-primary d-grid gap-2 d-flex float-right" asp-area="" asp-controller="Question" asp-action="Create">Ask Question</a>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
@foreach (var question in (IEnumerable<Question>)ViewData["Questions"])
{
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a class="stretched-link" asp-area="" asp-controller="Question" asp-action="Details" asp-route-id="@question.Id">
                        <h2 class="card-title">@question.Title</h2>
                    </a>
                    <p class="card-text">
                        Asked : @question.CreateDate
                    </p>
                </div>
            </div>
        </div>
    </div>
} 