@model CreateQuestionModel
@{
    ViewData["Title"] = "Create";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Create Question</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Create Question</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form class="form" novalidate enctype="multipart/form-data" method="Post" asp-area="" asp-controller="Question"
                      asp-action="Create" asp-antiforgery="true">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="Title"
                                       id="title" placeholder="Be specific and imagine you’re asking a question to another person">
                            </div>
                        </div>
                        <div>
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Question Body</label>
                            <div class="col-sm-10">
                                <textarea type="text" name="body" class="form-control" asp-for="Body"
                                          id="body"></textarea>
                            </div>
                            <div>
                                <span class="text-danger" asp-validation-for="Body"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Submit Question</button>
                        <a asp-action="Create" asp-controller="Question"
                           class="btn btn-default float-right">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script>
    $(document).ready(function() {
        $('#body').summernote({
            placeholder: 'Include all the information someone would need to answer your question',
            height: 100
        });
    });
</script>
}